body {
  background-color: #d7e9ed;
  color: #4d5254;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#city-name {
  text-align: right;
}

#country-code {
  text-align: right;
}

.container {
  border-radius: 10px;
  box-shadow: 2px grey;
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/044/168/original/pexels-miguel-a%CC%81-padrin%CC%83a%CC%81n-19670.jpg?1661096402)
    white;
  background-size: 100%;
  margin: 10px auto;
  max-width: 1000px;
  padding: 40px;
}

.coded-by {
  color: #4d5254;
  font-size: 14px;
  text-align: center;
}

#forecast-col {
  background-color: white;
  opacity: 0.8;
}

#search-city-button {
  background-color: #c1d4db;
  border-color: #c1d4db;
}

#search-city-button:hover {
  opacity: 0.8;
  transition: ease-in-out 200ms;
}
