body {
  background: #d7e9ed;
  color: #4d5254;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #e97859;
  text-decoration: none;
}

a:hover {
  color: #1e445f;
}

.container {
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/044/382/original/pexels-johannes-plenio-1103970.jpg?1661344718);
  background-size: cover;
  margin: 20px auto;
  max-width: 720px;
  padding: 40px;
  opacity: 0.9;
}

.coded-by {
  color: #4d5254;
  font-size: 14px;
  text-align: center;
}

#city-name {
  text-align: right;
}

#country-code {
  text-align: right;
}

#day-forecast {
  background: #dadedf;
  border-radius: 10px;
  padding: 5px;
}

#day-forecast-today {
  font-size: 20px;
}

#forecast-col {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

#forecast-icon {
  display: block;
  margin-left: -10px;
}

#search-city-button {
  background-color: #c1d4db;
  border-color: #c1d4db;
}

#search-city-button:hover {
  opacity: 0.8;
  transition: ease-in-out 200ms;
}

#temp-today {
  font-size: 50px;
}

#temp-forecast {
  line-height: 1.5;
}

#temp-forecast-low {
  margin-left: 5px;
  opacity: 0.7;
}

#units {
  font-size: 30px;
  position: relative;
  top: -15px;
}

#weather-desc {
  text-transform: capitalize;
}

#weather-container {
  padding-top: 20px;
}

@media (max-width: 760px) {
  body {
    text-align: center;
  }

  h1 {
    font-weight: 900;
    line-height: 1.5;
    margin-top: 20px;
  }

  #city-name {
    text-align: center;
  }

  .container {
    max-width: 300px;
  }
}
